<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body">
          <div class="d-flex">
            <div class="card-body__title col-lg-10 text-center">
              <b><p class="no-margin">Product List</p></b>
            </div>
            <div class="col-lg-2">
              <button class="btn btn-success float-end">Create</button>
            </div>
          </div>
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Category</th>
                <th scope="col">Location</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cocacola</td>
                <td>Drink</td>
                <td>USA</td>
                <td>2.50 $</td>
              </tr>
              <tr>
                <td>Samba</td>
                <td>Candy</td>
                <td>Venezuela</td>
                <td>3.20 $</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
